{# @var cinema \App\Entity\Cinema #}
{# @var country \App\Entity\Country #}
{# @var mainSession \App\Entity\Session #}
{# @var session \App\Entity\Session #}

{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="page-nav">
        <a class="page-nav__day page-nav__day_today" href="#">
            <span class="page-nav__day-week">Пн</span><span class="page-nav__day-number">31</span>
        </a>
        <a class="page-nav__day" href="#">
            <span class="page-nav__day-week">Вт</span><span class="page-nav__day-number">1</span>
        </a>
        <a class="page-nav__day page-nav__day_chosen" href="#">
            <span class="page-nav__day-week">Ср</span><span class="page-nav__day-number">2</span>
        </a>
        <a class="page-nav__day" href="#">
            <span class="page-nav__day-week">Чт</span><span class="page-nav__day-number">3</span>
        </a>
        <a class="page-nav__day" href="#">
            <span class="page-nav__day-week">Пт</span><span class="page-nav__day-number">4</span>
        </a>
        <a class="page-nav__day page-nav__day_weekend" href="#">
            <span class="page-nav__day-week">Сб</span><span class="page-nav__day-number">5</span>
        </a>
        <a class="page-nav__day page-nav__day_next" href="#">
        </a>
    </nav>
{% endblock %}

{% block body %}

    {% if mainSessions | length > 0 %}

        {% for session in mainSessions %}

            <section class="movie">
                <div class="movie__info">
                    {% if session.cinema.gallery | length > 0 %}
                        {% set galleryItem = session.cinema.gallery %}

                        <div class="movie__poster">
                            {% include 'embed/media/media.html.twig' with {
                                media: galleryItem.image,
                                filter_cache: 'middle_banner',
                                image_alt: session.cinema.name,
                                class: 'movie__poster-image'
                            } %}
                        </div>

                    {% endif %}
                    <div class="movie__description">
                        <h2 class="movie__title">{{ session.cinema.name }}</h2>
                        <p class="movie__synopsis">{{ session.cinema.description }}</p>
                        <p class="movie__data">
                            <span class="movie__data-duration">{{ film_interval(session.cinema.playbackTime) }}</span>
                            {% for country in session.cinema.countries %}
                                <span class="movie__data-origin">{{ country.name }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>

                    <div class="movie-seances__hall">
                        <h3 class="movie-seances__hall-title">Зал {{ session.hall.number }}</h3>
                        <ul class="movie-seances__list">
                            {% for session in session.sessions %}
                                <li class="movie-seances__time-block"><a class="movie-seances__time"
                                                                         href="{{ path('app_show_cinema', {slug: session.session.cinema.slug}) }}">{{ session.startedAt[:5] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

            </section>

        {% endfor %}

    {% endif %}

{% endblock %}