{# @var ticket \App\Entity\Ticket #}
{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="ticket">

            <header class="ticket__check">
                <h2 class="ticket__check-title">Вы выбрали билеты:</h2>
            </header>

            <div class="ticket__info-wrapper">
                <p class="ticket__info">На фильм: <span class="ticket__details ticket__title">{{ ticket.cinema }}</span></p>
                <p class="ticket__info">Места: <span class="ticket__details ticket__chairs">ряд: {{ ticket.seat.identifier[0] }}, место: {{ ticket.seat.identifier[1] }}</span></p>
                <p class="ticket__info">В зале: <span class="ticket__details ticket__hall">{{ ticket.hall }}</span></p>
                <p class="ticket__info">Начало сеанса: <span class="ticket__details ticket__start">{{ ticket.fullData }}</span></p>
                <p class="ticket__info">Стоимость: <span class="ticket__details ticket__cost">600</span> рублей</p>

                <a href="{{ path('app_ticket', { code: ticket.code }) }}">Ссылка на билет</a>

                <button class="acceptin-button" onclick="location.href='ticket.html'" >Получить код бронирования</button>

                <p class="ticket__hint">После оплаты билет будет доступен в этом окне, а также придёт вам на почту. Покажите QR-код нашему контроллёру у входа в зал.</p>
                <p class="ticket__hint">Приятного просмотра!</p>
            </div>
        </section>
    </main>
{% endblock %}
