{# @var session \App\Entity\Session #}
{# @var seat \App\Entity\Seat #}

{% extends 'base.html.twig' %}

{% block body %}
    {% if session is not null %}
        <section class="buying">
            <div class="buying__info">
                <div class="buying__info-description">
                    <h2 class="buying__info-title">{{ session.cinema.name }}</h2>
                    <p class="buying__info-start">Начало сеанса: {{ session.data | date('H:i') }}</p>
                    <p class="buying__info-hall">Зал {{ session.hall.number }}</p>
                </div>
                <div class="buying__info-hint">
                    <p>Тапните дважды,<br>чтобы увеличить</p>
                </div>
            </div>
            <div class="buying-scheme">
                <div class="buying-scheme__wrapper">

                    {% for row in 1..session.hall.countRows %}
                        <div class="buying-scheme__row">
                            {% for seat in seats %}
                                {% if seat.identifier[0] == row %}
                                    {% if seat.hasTicket(session) %}
                                        {% set className = 'buying-scheme__chair_taken' %}
                                    {% else %}
                                        {% if seat.isVip %}
                                            {% set className = 'buying-scheme__chair_vip' %}
                                        {% else %}
                                            {% set className = 'buying-scheme__chair_standart' %}
                                        {% endif %}
                                    {% endif %}
                                    <span class="buying-scheme__chair {{ className }}" data-seat-id="{{ seat.id }}"></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>
                <div class="buying-scheme__legend">
                    <div class="col">
                        <p class="buying-scheme__legend-price"><span
                                    class="buying-scheme__chair buying-scheme__chair_standart buying-scheme__chair_legend"></span> Свободно (<span
                                    class="buying-scheme__legend-value">250</span>руб)</p>
                        <p class="buying-scheme__legend-price"><span
                                    class="buying-scheme__chair buying-scheme__chair_vip buying-scheme__chair_legend"></span> Свободно VIP (<span
                                    class="buying-scheme__legend-value">350</span>руб)</p>
                    </div>
                    <div class="col">
                        <p class="buying-scheme__legend-price"><span
                                    class="buying-scheme__chair buying-scheme__chair_taken buying-scheme__chair_legend"></span> Занято</p>
                        <p class="buying-scheme__legend-price"><span
                                    class="buying-scheme__chair buying-scheme__chair_selected buying-scheme__chair_legend"></span> Выбрано</p>
                    </div>
                </div>
            </div>
            <button class="acceptin-button booking-btn" data-session="{{ session.id }}" disabled>Забронировать</button>
        </section>
    {% else %}
        <div class="sessions-error">
            Фильм не найден, либо данные повреждены.
            <a class="back-btn" href="{{ path('homepage') }}">Вернуться на главную</a>
            <img src="{{ asset('build/images/sad-face.png') }}" alt="sad">
        </div>
    {% endif %}
{% endblock %}

